* {
    font-family: 'Teko', sans-serif;
    /* background-color: black; */
}

body {
    background-color: black;
    /* overflow: hidden; */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
    padding-top: 20px;
    /* z-index: 9999; */
    font-family: 'Teko', 'sans-serif';
}

.nav-area {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 8px;
    font-family: 'Teko', sans-serif;
    color: white;
}

.nav-area li a:hover {
    color: red;
}

.about-area {
    text-align: center;
    color: white;
    margin-top: 5%;
}

.about-area h3 {
    color: red;
}

.about-text {
    margin: 60px;
    font-size: 17px
}

.projects-area {
    padding: 50px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    padding-top: 10%;
}

.projects-area h2 {
    color: red;
}

.h4 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-area {
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 50px 0 rgb(206, 29, 29);
    background: rgba(255, 255, 255, );
    color: rgb(255, 255, 255);
    margin-top: 15%;
}

.card-text {
    font-family: 'Teko', sans-serif;
}

.foot {
    color: white;
    background-color: #000000;
    padding: 3px;
    text-align: center;
    margin-top: 10%;
}

.card-temp {
    justify-self: center;
    align-items: center;
    display: flex;
}

.buttons {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}